.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #46536c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f161fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiCardContent-root {
  display: flex;
  justify-content: space-between; /*Bir content içerisindeki nesnelerin yan yana düzenli yerleşmesi*/
  border-radius: 5px;
  /*flex-wrap: wrap; alt alta gözükmesi için*/
}

.MuiCard-root	{
  display: flex;
  justify-content: center;
  box-shadow: none !important;
}

a{
  text-decoration:none
}

#h3style {
  width: 40%;
  height: 40%;
  background-color: pink;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
}

#hebidaImgStyle {
  background-color: #fce4ec;
  width: 40%; 
  height: 40%;
  border-radius: 10px;
  padding: 5px;
  overflow: visible;
  display: flex;
  align-items: center;
}
#aetiketi{
  width: 800%;

}