.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #46536c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f161fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiCardContent-root {
  display: flex;
  justify-content: space-between; /*Bir content içerisindeki nesnelerin yan yana düzenli yerleşmesi*/
  border-radius: 5px;
  /*flex-wrap: wrap; alt alta gözükmesi için*/
}

.MuiCard-root	{
  display: flex;
  justify-content: center;
  box-shadow: none !important;
}

a{
  text-decoration:none
}

#h3style {
  width: 40%;
  height: 40%;
  background-color: pink;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
}

#hebidaImgStyle {
  background-color: #fce4ec;
  width: 40%; 
  height: 40%;
  border-radius: 10px;
  padding: 5px;
  overflow: visible;
  display: flex;
  align-items: center;
}
#aetiketi{
 padding: 0.30%;
  background-color: pink;
  display: flex;
  align-items: center;
  font-size: 150%;
  color: black;

}
#aetiketi2{
  padding: 0.30%;
  background-color: pink;
  display: flex;
  align-items: center;
  font-size: 150%;
  color: black;

}


#aetiketi3{
  padding: 0.30%;
  background-color: pink;
  display: flex;
  align-items: center;
  font-size: 150%;
  color: black;

}

footer {
  display: flex; /* Flexbox ile yan yana hizalama sağlar */
  align-items: center; /* Dikeyde ortalamak için */
}
#haltı{
  font-size: 180%;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.slider img {
  width: 100%;
  display: block;
}

.dots {
  text-align: center;
  padding: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #717171;
}

.container{
  display: grid;
  grid-template-rows: 80px auto 1fr auto 50px;
  grid-auto-columns: 1fr 4fr 1fr;
  height: 100vh;
grid-template-areas:
"header       header         header"
"left-aside   banner  right-aside"
"left-aside    main   right-aside"
"left-aside    low-content   right-aside"
"footer     footer      footer";

  grid-gap: 10px; padding:10px;
  font-weight: 600; font-size: 20px;
}

@media (max-width: 678px) {
  .container{
    grid-template-rows: 50px 50px 50px 1fr
  50px 50px 50px;
    grid-template-columns:1fr ;
    grid-template-areas: "header""banner""left-aside""main""right-aside""low-content""footer";

  }

}
/* styles.css */
#buttonhover1 {
  background-color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#buttonhover1:hover {
  background-color: lightpink;
}



.App {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f8bbd0; /* Pastel pembe arka plan */
  overflow: hidden;
}
